pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/test/creds-test.edn
.classpath
.project
.settings/*
node_modules
.shadow-cljs
shadow-cljs.edn
.lsp
./karma.conf.js
./package.json
./package-lock.json
./shadow-cljs.edn
profiles/index/data/**.json
creds.edn
.calva
package.json
package-lock.json
karma.conf.js
