{:webly {:title "notebook explorer Demo"
         :lein-cljs-profile "+demo"
         :ns-cljs-app [demo.app]
         :bundle-entry  "demo.app.start ();"
         :start-user-app [:demo/start]
         :user-routes-app "demo.routes/routes-app"
         :user-routes-api "demo.routes/routes-api"}

 :google-analytics {:enabled true} ; set to false to disable google-analytics tracking.

 :timbre-loglevel [[#{"webly.ws.*"} :info]
                   [#{"webly.user.*"} :info]
                   [#{"org.eclipse.jetty.*"} :info]
                   [#{"pinkgorilla.nrepl.client.connection"} :debug]
                   [#{"*"} :debug]]

 :explorer
 {:client {:repositories [{:name "local"  :url "/api/explorer" :save true}
                          {:name "public" :url "https://raw.githubusercontent.com/pink-gorilla/gorilla-explore/master/resources/list.json"}]}
  :server {:exclude #{".git" ".svn"}
           :roots   {:app "./profiles/demo/notebooks"}}}

 ;
 }